body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  --primary-color: #ffbf78;
  --secondary-color: #feffd2;
  --background-color: #ff7f2939;
  margin: 25%;
  margin-top: 0px;
}

.form {

  display: flex;
  flex-direction: row;
  height: 50%;
  width: 50%;
  margin-left: 25%;

}

.list {


  height: 50%;
  width: 50%;
  margin-left: 25%;
  display: inline;
}

.App {

  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.05);
}

img {
  max-width: 100px;
  border-radius: 8px;
}

form {
  background: var(--primary-color);
  padding: 30px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
textarea,
button {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;

}

input:hover {
  border-color: rgb(124, 136, 143);
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #000;
}

button:hover {
  background-color: var(--background-color);
}